.wrapper {
  word-break: break-word;
  background-color: hsla(0, 0%, 0%, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

@media screen and (max-width: 750px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

.column {
  margin: 25px;
}

.column.right {
  display: flex;
  flex-wrap: wrap;
}

.parameters {
  font-size: 1rem;
}

.parameters p {
  margin-bottom: 0;
  white-space: nowrap; /* Prevent text from wrapping */
}

.rightNow {
  opacity: 0.5;
  margin-top: 0;
}

.image {
  max-width: 150px;
  margin-left: auto;
  margin-top: auto;
}

.sunTime {
  display: flex;
}

.sunTime span {
  margin-right: 1rem;
}

.location {
  margin-bottom: 50px;
}

.coords {
  display: flex;
  flex-wrap: wrap;
  opacity: 0.5;
}

.coords p {
  font-size: 0.8rem;
  margin: 0;
  margin-right: 1rem;
}

.place {
  margin: 0;
  font-weight: normal;
  font-size: 2rem;
}

.time {
  font-weight: normal;
  margin-top: 0;
  font-size: 1.2rem;
  color: var(--complementaryColor);
}
